
*.xcuserstate

*.xcuserstate

Trakty/Constants.swift

Trakty.xcodeproj/project.xcworkspace/xcuserdata/ardalansamimi.xcuserdatad/UserInterfaceState.xcuserstate

Trakty.xcodeproj/project.xcworkspace/xcuserdata/ardalansamimi.xcuserdatad/UserInterfaceState.xcuserstate

Trakty.xcodeproj/project.xcworkspace/xcuserdata/ardalansamimi.xcuserdatad/UserInterfaceState.xcuserstate
